.formTitle{
    color: #132b52;
    font-family: "Exo 2", sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}


.btn{
    border-radius:2rem;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.20vw;
    height: max-content;
    margin: auto;
}


.textField{
    border-radius:2rem;
}

.accountForm{
    /*border-radius:2rem;*/

    /*background-color: #ffe8bb;*/
    background-color: rgba(69, 179, 250, 0.78);
    padding:12px 12px 12px 12px;
    margin: auto;


    border: solid 4px #132b52;
}

.col-form-label{
    font-weight: lighter;
    font-size: larger;
}

